<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!--<h3>Show your work with this beautiful theme</h3>-->
                <h1>cyanoScope</h1>
                <h5>Mapping cyanobacteria one slide at a time</h5>
                <!--<h5>More Lorem Ipsum added here too.</h5>-->
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <<img src="{{ "/assets/img/cyanos.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->